{% load static %}
<div class="card bg-light mb-3">
    <div class="card-body">
        <ul class="nav nav-divider align-items-center d-none d-sm-inline-block small mb-2">
            <li class="nav-item"><i class="bi bi-clock-history"></i> 56:36</li>
            <li class="nav-item">With <a href="#">Larry Lawson</a> </li>
        </ul>
        <h4 class="card-title"><a href="post-single-6.html" class="btn-link stretched-link text-reset">The 15
                reasons clients love Bootstrap</a>
        </h4>
    </div>
    <!-- Card image -->
    <img src="{% static 'images/blog/16by9/small/01.jpg' %}" class="grayscale rounded-0" alt="Card image">
</div>