{% extends "base.html" %} 

{% block title %}Home{% endblock title %}

{% block content %} 
<!-- **************** MAIN CONTENT START **************** -->
<main>
    <!-- ======================= Latest news slider START -->
    <section class="py-4 card-grid position-relative">
        <div class="container">
            <div class="row">
                <div class="col">
                    <!-- Slider START -->
                    <div class="tiny-slider">
                        <div class="tiny-slider-inner" data-autoplay="true" data-hoverpause="true" data-gutter="24"
                            data-arrow="false" data-dots="false" data-items-md="2" data-items-sm="2" data-items-xs="1"
                            data-items="3">
                            {% include 'partials/_latestnews_slider.html' %}
                            {% include 'partials/_latestnews_slider.html' %}
                            {% include 'partials/_latestnews_slider.html' %}
                            {% include 'partials/_latestnews_slider.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row END -->
        </div>
    </section>
    <!-- ======================= Latest news slider END -->

    <section class="position-relative">
        <div class="container">
            <div class="row">
                <!-- Main Post START -->
                <div class="col-lg-9">
                    <!-- Sponsored POST START -->
                    {% include 'partials/_sponsored_news.html' %}
                    <!-- Sponsored POST END -->
                    <!-- Divider -->
                    <div class="border-bottom border-primary border-2 opacity-1 my-4"></div>
                    <!-- Small card 6X6 START -->
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-4">
                                <h2 class="m-0"><i class="bi bi-hourglass-top me-2"></i>Today's top highlights</h2>
                                <p>Latest breaking news, pictures, videos, and special reports</p>
                            </div>
                            <div class="row">
                                {% include 'partials/_latestnews_card.html' %}
                                {% include 'partials/_latestnews_card.html' %}
                                {% include 'partials/_latestnews_card.html' %}
                                {% include 'partials/_latestnews_card.html' %}
                                {% include 'partials/_latestnews_card.html' %}
                                {% include 'partials/_latestnews_card.html' %}
                                {% include 'partials/_latestnews_card.html' %}
                                {% include 'partials/_latestnews_card.html' %}
                            </div>
                        </div>
                    </div>
                    <!-- Small card 6X6 END -->
                </div>
                <!-- Main Post END -->
                <!-- Sidebar START -->
                <div class="col-lg-3 mt-5 mt-lg-0">
                    <div>
                        <!-- Categories -->
                        <div class="row g-2">
                            <h5>Categories</h5>
                            {% include 'partials/_category_list.html' %}
                            {% include 'partials/_category_list.html' %}
                            {% include 'partials/_category_list.html' %}
                            {% include 'partials/_category_list.html' %}
                            {% include 'partials/_category_list.html' %}
                            <!-- View All Category button -->
                            <div class="text-center mt-3">
                                <a href="#" class="fw-bold text-body text-primary-hover text-decoration-underline">View all categories</a>
                            </div>
                        </div>
                        <!-- Trending news -->
                        <div>
                            <h5 class="mt-5 mb-3"><i class="fas fa-fire me-1"></i> Trending news</h5>
                            {% include 'partials/_trendingnews_list.html' %}
                            {% include 'partials/_trendingnews_list.html' %}
                            {% include 'partials/_trendingnews_list.html' %}
                            {% include 'partials/_trendingnews_list.html' %}
                            {% include 'partials/_trendingnews_list.html' %}
                            {% include 'partials/_trendingnews_list.html' %}
                        </div>

                        <div>
                            <h5 class="mt-4 mb-3">Browse by Tags</h5>
                            <ul class="list-inline">
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                                {% include 'partials/_tag.html' %}
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- Sidebar END -->
            </div>
        </div>
    </section>

    <!-- ======================= Divider START -->
    <div class="container">
        <div class="border-bottom border-secondary opacity-2 mb-0 mt-2"></div>
    </div>
    <!-- ======================= Divider END -->

    <!-- ======================= News by Categories START -->
    <section class="py-4">
        <div class="container">
            <div class="row g-4">
                
                <div class="col-lg-4">
                    <h4 class="mb-3">Politics</h4>
                    <div class="bg-light">
                        {% include 'partials/_category_featurednews.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <h4 class="mb-3">Sports</h4>
                    <div class="bg-light">
                        {% include 'partials/_category_featurednews.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <h4 class="mb-3">Business</h4>
                    <div class="bg-light">
                        {% include 'partials/_category_featurednews.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                        {% include 'partials/_category_news.html' %}
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!-- ======================= News by Categories END -->

    <!-- ======================= Divider START -->
    <div class="container">
        <div class="border-bottom border-secondary opacity-2 mb-0 mt-2"></div>
    </div>
    <!-- ======================= Divider END -->

    <!-- ======================= Featured news START -->
    <section class="py-4">
        <div class="container">
            <div class="row g-4 flex-fill">
                <!-- Title -->
                <div class="col-12">
                    <h2 class="m-0"><i class="fas fa-newspaper me-2"></i>Featured news</h2>
                    <p>Checkout the hand pick post by admin</p>
                </div>
                {% include 'partials/_features_news.html' %}
                {% include 'partials/_features_news.html' %}
                {% include 'partials/_features_news.html' %}
                {% include 'partials/_features_news.html' %}
            </div>
        </div>
    </section>
    <!-- ======================= Featured stories END -->

    <!-- ======================= Divider START -->
    <div class="container">
        <div class="border-bottom border-secondary opacity-2 mb-0 mt-2"></div>
    </div>
    <!-- ======================= Divider END -->

    <!-- ======================= Editor's Pick, Recently viewed and Most viewed START -->
    <section class="pt-4 pt-sm-5 pb-3 pb-sm-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="mb-3">Editor's pick</h4>
                    {% include 'partials/_news_card_image.html' %}
                    {% include 'partials/_news_card_noimage.html' %}
                    <div class="border-bottom border-secondary opacity-2 mt-2 mb-2"></div>
                    {% include 'partials/_news_card_noimage.html' %}
                    <div class="border-bottom border-secondary opacity-2 mt-2 mb-2"></div>
                    {% include 'partials/_news_card_noimage.html' %}

                </div>
                <div class="col-md-4">
                    <h4 class="mb-3">Recently viewed</h4>
                    {% include 'partials/_news_card_image.html' %}
                    {% include 'partials/_news_card_noimage.html' %}
                    <div class="border-bottom border-secondary opacity-2 mt-2 mb-2"></div>
                    {% include 'partials/_news_card_noimage.html' %}
                    <div class="border-bottom border-secondary opacity-2 mt-2 mb-2"></div>
                    {% include 'partials/_news_card_noimage.html' %}
                </div>
                <div class="col-md-4">
                    <h4 class="mb-3">Most viewed</h4>
                    {% include 'partials/_news_card_image.html' %}
                    {% include 'partials/_news_card_noimage.html' %}
                    <div class="border-bottom border-secondary opacity-2 mt-2 mb-2"></div>
                    {% include 'partials/_news_card_noimage.html' %}
                    <div class="border-bottom border-secondary opacity-2 mt-2 mb-2"></div>
                    {% include 'partials/_news_card_noimage.html' %}

                </div>
            </div>
        </div>
    </section>
    <!-- ======================= Editor's Pick, Recently viewed and Most viewed END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

{% endblock content %}